<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Meu APP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <h1>Botões</h1>
    <ion-button>Padrão</ion-button>
    <ion-button href="https://lginfo.com.br/" target="_blank">Link</ion-button>
    <h4>Cores</h4>
    <ion-button color="primary">Principal</ion-button>
    <ion-button color="secondary">Secundária</ion-button>
    <ion-button color="tertiary">Secundária</ion-button>
    <ion-button color="danger">Perigo</ion-button>
    <ion-button color="warning">Alerta</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>

    <h4>Arredondado</h4>
    <ion-button shape="round" color="primary">Arredondado</ion-button>

    <h4>Preenchimento</h4>
    <ion-button fill="outline" color="tertiary" expand=>Preenchimento</ion-button>

    <h4>Expandido</h4>
    <ion-button expand="full" color="dark">Expandido</ion-button>
    <ion-button expand="block" color="dark">Expandido block</ion-button>
</ion-content>
